@font-face {
    font-family: 'GothamHTF';
    font-weight: 900; /* Black */
    src: url('/assets/fonts/gotham/GothamHTF-Black.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'GothamHTF';
    font-weight: bold; /* Bold */
    src: url('/assets/fonts/gotham/GothamHTF-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'GothamHTF';
    font-weight: normal; /* Regular */
    src: url('/assets/fonts/gotham/GothamHTF-Medium.otf') format('opentype');
  }