@font-face {
    font-family: 'GothamHTF';
    font-weight: 900;
    src: url('/assets/fonts/gotham/GothamHTF-Black.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'GothamHTF';
    font-weight: bold;
    src: url('/assets/fonts/gotham/GothamHTF-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'GothamHTF';
    font-weight: normal;
    src: url('/assets/fonts/gotham/GothamHTF-Medium.otf') format('opentype');
  }